:root {
  --body-background: hsl(35, 33%, 76%);
  --warm-brown-light: hsl(35, 33%, 64%);
  --warm-brown-dark: hsl(35, 48%, 12%);
  --calm-blue-10: hsl(213, 74%, 24%);
  --calm-blue-hover: hsl(204, 91%, 44%);
  --forest-green-magic-opacity: hsla(110, 52%, 28%, 0.525);
  --forest-green-magic: hsl(110, 52%, 28%);
  --forest-green-magic-dark: hsl(140, 100%, 20%);
  --accent-2: hsl(10, 80%, 30%);
  --headings-font: "Italianno", cursive; /*400 -600*/
  --secondary-font: "Lora", serif; /*400 - 600*/
  --nav-para: "Arima"; /*200 - 700*/
  --about-section-margin-top: 70vh;
  --section-margin-top: 30rem;
}

* {
  padding: 0;
  margin: 0;
  border: 0 solid;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  padding: inherit;
  margin: inherit;
  border: 0 solid;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  max-width: 140rem;
  background-color: var(--body-background);
  overflow-x: hidden;
}

.grid-container {
  display: grid;
  /*nav (hero,about-us) goal (inside-menu-events-testimo-map) footer*/
  grid-template-columns: [full-start] minmax(6rem, 1fr) [centre-start] repeat(8, [col-start] minmax(-webkit-min-content, 14rem) [col-end]) [centre-end] minmax(6rem, 1fr) [full-end];
  grid-template-columns: [full-start] minmax(6rem, 1fr) [centre-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [centre-end] minmax(6rem, 1fr) [full-end];
}

.btn {
  display: inline-block;
  background-color: var(--calm-blue-10);
  padding: 0.8rem 0.16rem;
  border-radius: 3rem;
  font-size: 1.6rem;
  translate: all 0.2s ease;
}
.btn:hover {
  background-color: var(--calm-blue-hover);
}

.display-none {
  display: none;
}

.blue-highlight {
  color: var(--calm-blue-10);
}

h1, h2, h3, h4, h5, h6 {
  color: var(--warm-brown-dark);
}

p {
  max-width: 55ch;
}

a {
  text-decoration: none;
  display: block;
}

ul {
  display: inline-block;
  list-style: none;
}

li {
  display: inline-block;
}

img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.navigation {
  min-height: 15vh;
  grid-column: full-start/full-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.4rem;
  margin-top: 1.5rem;
  position: relative;
}
.navigation__logo {
  width: 30%;
  height: 30%;
  overflow: visible;
  position: absolute;
  top: 20%;
  left: 3%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.navigation__links {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 1rem 3.2rem;
  border-radius: 4rem;
  background-color: var(--warm-brown-light);
  position: relative;
}
.navigation__links--items a {
  font-family: var(--nav-para);
  color: var(--warm-brown-dark);
  font-weight: 700;
  letter-spacing: 0.04rem;
}
.navigation__btn {
  position: absolute;
  width: 25%;
  top: -40%;
  right: -12%;
  border: 0.5rem solid var(--body-background);
  text-align: center;
}
.navigation span {
  color: white;
}

.hero {
  min-height: 100vh;
  margin-top: 4rem;
  grid-column: centre-start/centre-end;
  display: grid;
  grid-template-rows: repeat(10, 10vh);
  grid-template-columns: minmax(6rem, 1fr) [hero-start] repeat(8, minmax(-webkit-min-content, 14rem)) [hero-end] minmax(6rem, 1fr);
  grid-template-columns: minmax(6rem, 1fr) [hero-start] repeat(8, minmax(min-content, 14rem)) [hero-end] minmax(6rem, 1fr);
  position: relative;
  z-index: 1;
}
.hero__image {
  -webkit-clip-path: url(#hero-path);
          clip-path: url(#hero-path);
  background-image: url(./imgs/Hero-1.jpg);
  background-size: cover;
  background-position: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 0;
}
.hero__heading {
  font-size: 19rem;
  font-weight: 400;
  -webkit-text-stroke: 0.1rem;
  -webkit-text-stroke-color: var(--body-background);
  letter-spacing: -0.9rem;
  z-index: 1;
}
.hero__heading--1 {
  grid-column: 6/-1;
}
.hero__heading--2 {
  grid-row: 5/6;
  grid-column: 2/3;
}
.hero__niche {
  grid-row: 2/3;
  grid-column: 1/3;
  text-transform: lowercase;
  font-size: 2rem;
  font-family: var(--secondary-font);
  margin-left: 1.2rem;
  z-index: 1;
}

.about {
  margin-top: var(--about-section-margin-top);
  width: 100%;
  min-height: 100vh;
  grid-column: centre-start/centre-end;
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  -ms-flex-line-pack: start;
      align-content: start;
  row-gap: 8rem;
}

.about__left-side {
  grid-column: 1/span 2;
  position: relative;
  z-index: 2;
}
.about__button {
  border: none;
  background: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 2rem;
  cursor: pointer;
  color: var(--forest-green-magic-opacity);
  margin-top: 2.8rem;
}
.about__button div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 4rem;
  width: 4rem;
  height: 4rem;
  border-radius: 100%;
  font-size: 2rem;
  font-weight: 600;
  border: 0.2rem solid var(--forest-green-magic-opacity);
  background: transparent;
}
.about__button span {
  font-size: 2rem;
  font-weight: 600;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 90%;
          flex: 1 0 90%;
}

.about__right-side {
  grid-column: 3/-1;
  margin: 0 4rem;
  margin-top: -5rem;
}

.content-holder {
  position: relative;
  border-bottom-width: 0.2rem;
  border-left-width: 0.2rem;
  border-color: var(--forest-green-magic-dark);
  border-bottom-left-radius: 4rem;
  padding-left: 3.4rem;
  padding-top: 1.9rem;
  padding-bottom: 1.9rem;
  margin-top: -0.1rem;
  margin-left: 2.8rem;
}
.content-holder__contents {
  max-width: 100%;
  color: var(--forest-green-magic-dark);
  font-family: inherit;
  display: block;
  font-size: 1.8rem;
  padding-bottom: 1.6rem;
}
.content-holder__head {
  position: absolute;
  background-color: var(--forest-green-magic-dark);
  border-radius: 100%;
  width: 1.4rem;
  height: 1.4rem;
  right: -1rem;
  bottom: -0.7rem;
}

.picture-holder {
  border-radius: 5rem;
  -webkit-box-shadow: 0 2rem 2.5rem -0.5rem rgba(0, 0, 0, 0.1), 0 0.8rem 1rem -0.6rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 2rem 2.5rem -0.5rem rgba(0, 0, 0, 0.1), 0 0.8rem 1rem -0.6rem rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative;
  z-index: 2;
}
.picture-holder__picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
}

.button--active div,
.button--active span {
  color: var(--forest-green-magic-dark);
}
.button--active div {
  border: 0.2rem solid var(--forest-green-magic-dark);
}

.goal {
  margin-top: var(--section-margin-top);
  height: 50vh;
  grid-column: full-start/full-end;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--warm-brown-dark);
  position: relative;
}
.goal::before, .goal::after {
  content: "";
  position: absolute;
  display: inline-block;
  width: 40%;
  height: 1%;
  background-color: var(--body-background);
  bottom: 25rem;
}
.goal::before {
  right: 6%;
}
.goal::after {
  left: 6%;
}
.goal__holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /*the our-goal never be in the centre of y-axis
      until I defined the width and height, so there is a space for
      the child (our-goal) to move in inside 
      the container (holder) */
  width: 100%;
  height: 100%;
  margin-top: 7rem;
}
.goal__our-goal {
  font-size: 2.4rem;
  text-align: center;
  text-transform: uppercase;
  color: var(--body-background);
  font-family: var(--secondary-font);
  letter-spacing: -0.1px;
  font-style: italic;
}
.goal__logo {
  width: 20%;
  height: 20%;
  overflow: visible;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.logo--top {
  top: 15%;
  left: 50%;
}

.logo--bottom {
  top: 87%;
  left: 50%;
}

.line-bottom::before, .line-bottom::after {
  content: "";
  position: absolute;
  display: inline-block;
  width: 40%;
  height: 1%;
  background-color: var(--body-background);
  bottom: 3.4rem;
}
.line-bottom::before {
  right: 6%;
}
.line-bottom::after {
  left: 6%;
}

.inside-serene {
  grid-column: full-start/full-end;
  max-height: 100vh;
  margin-top: var(--section-margin-top);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #e6dcce;
}
.inside-serene__grid {
  --dark-shade: #dacbb6;
  width: 90%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(5, minmax(20rem, 50rem));
  grid-template-rows: repeat(10, 1fr);
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  -ms-flex-line-pack: center;
      align-content: center;
  justify-items: stretch;
  padding: 0 1rem;
}
.inside-serene__grid > * {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 2rem;
  -webkit-box-shadow: 0 1rem 1.5rem -0.3rem rgba(0, 0, 0, 0.1), 0 0.4rem 0.6rem -0.4rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 1rem 1.5rem -0.3rem rgba(0, 0, 0, 0.1), 0 0.4rem 0.6rem -0.4rem rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.inside-serene__grid > * img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.inside-serene__grid > *:hover img {
  /* the hove on the image doesn't work
  so to get around this problem we usually set 
  the hover state on the container and select the img
  to tell the container what should happens to the image
  when you're being hovered */
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
}
.inside-serene__grid > * p {
  color: var(--warm-brown-dark);
  font-size: 1.4rem;
  text-align: center;
  padding: 2rem;
}
.inside-serene__grid--item-1 {
  background-color: var(--dark-shade);
  grid-row: 1/span 2;
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.inside-serene__grid--item-2 {
  grid-row: 3/span 6;
}
.inside-serene__grid--item-3 {
  background-color: var(--dark-shade);
  grid-row: 9/-1;
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.inside-serene__grid--item-4 {
  background-color: mintcream;
  grid-row: 2/span 3;
}
.inside-serene__grid--item-5 {
  grid-row: 5/-1;
}
.inside-serene__grid--item-6 {
  grid-row: 1/span 6;
}
.inside-serene__grid--item-7 {
  background-color: mintcream;
  grid-row: 7/-1;
  margin-bottom: 1rem;
}
.inside-serene__grid--item-8 {
  background-color: var(--dark-shade);
  grid-row: 1/span 3;
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.inside-serene__grid--item-9 {
  background-color: mintcream;
  grid-row: 4/span 4;
}
.inside-serene__grid--item-10 {
  background-color: var(--dark-shade);
  grid-row: 8/-1;
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.inside-serene__grid--item-11 {
  background-color: mintcream;
  grid-row: 2/span 3;
}
.inside-serene__grid--item-12 {
  background-color: mintcream;
  grid-row: 5/-1;
}
.inside-serene__grid--item-13 {
  background-color: var(--dark-shade);
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.inside-serene__grid--item-14 {
  background-color: var(--dark-shade);
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.menu {
  margin-top: var(--section-margin-top);
  grid-column: full-start/full-end;
  min-height: 100vh;
}
.menu__box {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 45% 55%;
  margin-bottom: 14rem;
}
.menu__box__photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  z-index: 10;
  position: relative;
}
.menu__box__photo img {
  border-radius: 4rem;
  -webkit-box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: -10rem;
}
.menu__box__photo__haikei {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--warm-brown-light);
  z-index: -1;
}
.menu__box__items {
  border: 0.5rem solid var(--warm-brown-dark);
  border-radius: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  margin: 0 6rem;
}
.menu__box__items__heading {
  font-size: 5rem;
  text-transform: uppercase;
  margin-top: 2.8rem;
}
.menu__box__items__list {
  text-align: center;
  width: 70%;
  font-size: 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 2rem;
  letter-spacing: 0.1rem;
  margin: 3rem 0;
}
.menu__box__items__list li {
  text-transform: capitalize;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.menu__box__items__list li span {
  text-transform: lowercase;
  margin-top: 0.5rem;
  margin-left: 1.6rem;
}

.highlight-item {
  text-transform: uppercase;
  font-style: italic;
  margin-top: 2rem;
}

.events {
  margin-top: var(--section-margin-top);
  grid-column: centre-start/centre-end;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
}
.events__event-box {
  cursor: pointer;
  width: 90%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-bottom: 0.13rem solid;
  border-color: var(--warm-brown-dark);
  color: var(--warm-brown-dark);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 2rem;
  position: relative;
  -webkit-transition: all 0.4s cubic-bezier(0.94, 0.005, 0.56, 0.715);
  transition: all 0.4s cubic-bezier(0.94, 0.005, 0.56, 0.715);
}
.events__event-box__name {
  font-size: 3rem;
  text-transform: capitalize;
}
.events__event-box__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 60%;
  text-transform: uppercase;
  letter-spacing: -0.1px;
  text-align: center;
}
.events__event-box__info__tags {
  -ms-flex-preferred-size: 81%;
      flex-basis: 81%;
}
.events__event-box__info__arrow {
  -ms-flex-preferred-size: 19%;
      flex-basis: 19%;
  width: 2.4rem;
  height: 2.4rem;
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}
.events__event-box:first-child {
  border-top: 0.13rem solid var(--warm-brown-dark);
}
.events__event-box::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 0;
  background-color: var(--warm-brown-dark);
  z-index: -1;
  -webkit-transition: height 0.4s cubic-bezier(0.94, 0.005, 0.56, 0.715);
  transition: height 0.4s cubic-bezier(0.94, 0.005, 0.56, 0.715);
}
.events__event-box:hover {
  color: var(--warm-brown-light);
  padding-left: 5rem;
  padding-right: 3rem;
}
.events__event-box:hover .events__event-box__info__arrow {
  fill: var(--warm-brown-light);
  -webkit-transform: rotateZ(90deg);
          transform: rotateZ(90deg);
}
.events__event-box:hover::after {
  height: 100%;
}

.hidden-paragraph {
  max-width: 39rem;
  max-height: 16rem;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  font-size: 1.4rem;
  margin: 1.6rem 0;
}

.tags-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  width: 100%;
  border-color: inherit;
}
.tags-holder__tag {
  margin-left: 0.6rem;
  padding: 0.7rem;
  border: 0.13rem solid;
  border-radius: 2rem;
}

/* @m @import "svg"; */