.hero {
  min-height: 100vh;
  margin-top: 4rem;
  grid-column: centre-start / centre-end;

  position: relative;
  z-index: 1;

  @media screen and (max-width: 40.1em) {
    margin-right: 4rem;
  }

  &__image {
    position: absolute;
    background-size: cover;
    background-position: center;

    @media screen and (max-width: 22.5em) {
      width: 80%;
    }

    &--1 {
      clip-path: url(#hero-path);
      background-image: url(./imgs/Hero-1.jpg);

      width: 100%;
      height: 100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      // z-index: 0;

      @media screen and (max-width: 73.7em) {
        /*1176 / 16 */
        width: 90%;
      }

      @media screen and (max-width: 56.85em) {
        /* 909 / 16*/
        clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 100%);
        width: 44%;
        height: 31%;
        top: 12%;
        left: 29%;
        border-radius: 4rem;
        box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1),
          0 2px 4px -2px rgb(0 0 0 / 0.1);
      }

      @media screen and (max-width: 44.5em) {
        left: 20%;
      }

      @media screen and (max-width: 38.38em) {
        width: 60%;
        height: 27%;
        left: 30%;
      }

      @media screen and (max-width: 34.6em) {
        width: 80%;
      }

      @media screen and (max-width: 30.5em) {
        left: 30%;
      }

      @media screen and (max-width: 28em) {
        width: 70%;
        border-radius: 2.5rem;
      }

      @media screen and (max-width: 22.5em) {
        left: 20%;
      }

    }

    &--2 {
      display: none;

      @media screen and (max-width: 56.85em) {
        display: block;
        clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 100%);
        width: 44%;
        height: 31%;
        top: 35%;
        left: 42%;
        border-radius: 4rem;
        background-image: url(./imgs/bite-after-element.jpg);
        background-size: cover;
        background-position: center;
        box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1),
          0 2px 4px -2px rgb(0 0 0 / 0.1);
      }

      @media screen and (max-width: 38.38em) {
        width: 60%;
        height: 27%;
      }

      @media screen and (max-width: 34.6em) {
        width: 80%;
        left: 30%;
      }

      @media screen and (max-width: 30.5em) {
        left: 23%;
      }

      @media screen and (max-width: 28em) {
        width: 70%;
        border-radius: 2.5rem;
      }

      @media screen and (max-width: 25em) {
        left: 20%;
      }

      @media screen and (max-width: 22.5em) {
        left: 13%;
      }

    }

    &--3 {
      display: none;

      @media screen and (max-width: 56.85em) {
        display: block;
        clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 100%);
        width: 44%;
        height: 31%;
        top: 74%;
        left: 18%;
        border-radius: 4rem;
        background-image: url(./imgs/cafe-after-element.jpg);
        background-size: cover;
        background-position: center;
        box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1),
          0 2px 4px -2px rgb(0 0 0 / 0.1);
      }

      @media screen and (max-width: 42.2em) {
        left: 3%;
      }

      @media screen and (max-width: 38.38em) {
        width: 60%;
        height: 27%;
      }

      @media screen and (max-width: 34.6em) {
        width: 80%;
      }

      @media screen and (max-width: 33.4em) {
        left: -3%;
      }

      @media screen and (max-width: 30.5em) {
        left: -5%;
      }

      @media screen and (max-width: 28em) {
        width: 70%;
        border-radius: 2.5rem;
      }

      @media screen and (max-width: 22.5em) {
        left: -15%;
      }
    }
  }

  &__heading {
    @media screen and (max-width: 73.7em) {
      /*1176 / 16 */
      width: 90%;
    }

    @media screen and (max-width: 38.4em) {
      width: 75%;
    }

    @media screen and (max-width: 33.4em) {
      width: 60%;
    }

    @media screen and (max-width: 38.38em) {
      width: 110%;
    }

    &--1 {
      position: absolute;
      top: -24%;
      left: 34%;

      @media screen and (max-width: 78.26em) {
        /* 1252 / 16 78.26*/
        left: 32%;
      }

      @media screen and (max-width: 73.7em) {
        /*1176 / 16 */
        top: -13%;
        left: 33%;
      }

      @media screen and (max-width: 44.5em) {
        left: 24%;
      }

      @media screen and (max-width: 38.38em) {
        top: -10%;
        left: 34%;
      }

      @media screen and (max-width: 33.4em) {
        top: -7%;
        left: 41%;
      }
      @media screen and (max-width: 30.5em) {
        top: -14%;
        left: 30%;
      }

      @media screen and (max-width: 28em) {
        top: -18%;
        left: 20%;
      }

      @media screen and (max-width: 27.5em) {
        top: -13%;
      }

      @media screen and (max-width: 25em) {
        top: -15%;
        left: 16%;
      }

      @media screen and (max-width: 22.5em) {
        left: 3%;
      }

    }

    &--2 {
      position: absolute;
      top: 27%;
      left: -23%;

      @media screen and (max-width: 73.7em) {
        left: -20%;
      }

      @media screen and (max-width: 38.38em) {
        top: 41%;
        left: -15%;
      }

      @media screen and (max-width: 34.6em) {
        left: -24%;
      }

      @media screen and (max-width: 33.4em) {
        top: 43%;
        left: -25%;
      }
      @media screen and (max-width: 30.5em) {
        top: 45%;
        left: -27%;
      }

      @media screen and (max-width: 28em) {
        top: 48%;
      }

      @media screen and (max-width: 25em) {
        left: -35%;
      }

      @media screen and (max-width: 22.5em) {
        left: -42%;
      }

    }

    &--3 {
      position: absolute;
      top: 53%;
      left: 40%;

      @media screen and (max-width: 56.85em) {
        top: 67%;
        left: 36%;
      }

      @media screen and (max-width: 42.2em) {
        left: 20%;
      }

      @media screen and (max-width: 38.38em) {
        top: 80%;
        left: 24%;
      }

      @media screen and (max-width: 34.6em) {
        left: 43%;
      }

      @media screen and (max-width: 33.4em) {
        top: 74%;
        left: 38%;
      }

      @media screen and (max-width: 30.5em) {
        left: 36%;
      }

      @media screen and (max-width: 28em) {
        left: 27%;
      }

      @media screen and (max-width: 22.5em) {
        top: 85%;
        left: 16%;
      }

    }
  }
}
