.inside-serene {
  grid-column: full-start / full-end;
  max-height: 100vh;
  margin-top: var(--section-margin-top);
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  background-color: #e6dcce;

  @media screen and (max-width: 56.85em) {
    max-height: 90vh;
  }

  @media screen and (max-width: 54.2em) {
    align-items: start;
  }

  @media screen and (max-width: 47.5em) {
    max-height: 85vh;
  }

  @media screen and (max-width: 45.5em) {
    max-height: 300vh;
  }

  @media screen and (max-width: 26.4em) {
    max-height: 550vh;
  }

  &__grid {
    --dark-shade: #dacbb6;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(5, minmax(15rem, 50rem));
    grid-template-rows: repeat(10, 1fr);
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    align-content: center;
    justify-items: stretch;
    padding: 0 3rem;

    @media screen and (max-width: 54.2em) {
      padding: 0 2rem;
    }
    @media screen and (max-width: 53.3em) {
      padding: 0 1rem;
    }

    @media screen and (max-width: 52.5em) {
      grid-template-columns: repeat(5, minmax(10rem, 20rem));
      padding: 0 2rem;
    }

    @media screen and (max-width: 45.5em) {
      grid-template-columns: repeat(2, minmax(15rem, 40rem)) 1fr;
      grid-template-rows: repeat(30, 1fr);
    }

    @media screen and (max-width: 44.2em) {
      grid-template-columns: repeat(2, 32rem) 1.6rem;
    }

    @media screen and (max-width: 43em) {
      grid-template-columns: repeat(2, 31.5rem) 1.6rem;
    }
    @media screen and (max-width: 42em) {
      grid-template-columns: repeat(2, 31rem) 1.6rem;
    }
    @media screen and (max-width: 41em) {
      grid-template-columns: repeat(2, 30rem) 1.6rem;
    }
    @media screen and (max-width: 40em) {
      grid-template-columns: repeat(2, 29.5rem) 1.6rem;
    }
    @media screen and (max-width: 39.5em) {
      grid-template-columns: repeat(2, 29rem) 1.6rem;
    }

    @media screen and (max-width: 39em) {
      grid-template-columns: repeat(2, 28.5rem) 1.6rem;
    }

    @media screen and (max-width: 38.1em) {
      grid-template-columns: repeat(2, 27rem);
    }

    @media screen and (max-width: 36.4em) {
      grid-template-columns: repeat(2, 26rem);
    }

    @media screen and (max-width: 35em) {
      grid-template-columns: repeat(2, 25rem);
    }

    @media screen and (max-width: 34em) {
      grid-template-columns: repeat(2, 24rem);
    }
    @media screen and (max-width: 33em) {
      grid-template-columns: repeat(2, 23rem);
    }

    @media screen and (max-width: 32em) {
      grid-template-columns: repeat(2, 22.5rem);
    }
    @media screen and (max-width: 31em) {
      grid-template-columns: repeat(2, 21.7rem);
    }
    @media screen and (max-width: 30em) {
      grid-template-columns: repeat(2, 21.3rem);
    }
    @media screen and (max-width: 29em) {
      grid-template-columns: repeat(2, 20.5rem);
    }
    @media screen and (max-width: 28.1em) {
      grid-template-columns: repeat(2, 20rem);
    }
    @media screen and (max-width: 27.5em) {
      grid-template-columns: repeat(2, 19rem);
    }

    @media screen and (max-width: 26.4em) {
      grid-template-columns: minmax(23rem, 35rem);
      padding: 0 4rem;
    }

    @media screen and (max-width: 25em) {
      grid-template-columns: minmax(23rem, 32rem);
    }

    @media screen and (max-width: 23em) {
      grid-template-columns: minmax(23rem, 30rem);
    }

    @media screen and (max-width: 21.5em) {
      grid-template-columns: minmax(23rem, 28rem);

      grid-template-rows: repeat(30, 5rem);
    }

    @media screen and (max-width: 20em) {
      grid-template-columns: minmax(23rem, 26rem);
    }

    @media screen and (max-width: 19em) {
      grid-template-columns: minmax(23rem, 26rem);
      padding: 0 2rem;
    }

    & > * {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 2rem;
      box-shadow: 0 1rem 1.5rem -0.3rem rgb(0 0 0 / 0.1),
        0 0.4rem 0.6rem -0.4rem rgb(0 0 0 / 0.1);
      overflow: hidden;

      & img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        transition: all 0.4s ease;
      }

      &:hover img {
        /* the hove on the image doesn't work
        so to get around this problem we usually set 
        the hover state on the container and select the img
        to tell the container what should happens to the image
        when you're being hovered */
        transform: scale(1.25);
      }

      & p {
        color: var(--warm-brown-dark);
        font-size: 1.4rem;
        line-height: 1.8rem;
        font-style: normal;
        text-align: center;
        padding: 2rem;

        @media screen and (max-width: 63.1em) {
          font-size: 1.2rem;
        }

        @media screen and (max-width: 56.85em) {
          line-height: 1.2;
        }

        @media screen and (max-width: 52.5em) {
          font-size: 1.1rem;
          padding: 1.5rem;
        }

        @media screen and (max-width: 45.5em) {
          font-size: 1.6rem;
          padding: 1.8rem;
        }

        @media screen and (max-width: 33em) {
          font-size: 1.4rem;
        }

        @media screen and (max-width: 26.4em) {
          line-height: 1.6;
        }

        @media screen and (max-width: 20em) {
          font-size: 1.2rem;
        }

        & strong {
          display: block;
          font-family: var(--sub-family);
          letter-spacing: 0.05rem;
          margin-bottom: -0.8rem;

          @media screen and (max-width: 26.4em) {
            font-size: 1.6rem;
          }

          @media screen and (max-width: 20em) {
            font-size: 1.4rem;
          }
        }
      }
    }

    &--item-1 {
      background-color: var(--dark-shade);
      grid-row: 1 / span 2;
      border-radius: 0;
      box-shadow: none;
      background-image: url("./imgs/Clarence-background.png");
      background-size: 100%;

      @media screen and (max-width: 26.4em) {
        display: none;
      }
    }

    &--item-2 {
      grid-row: 3 / span 6;

      @media screen and (max-width: 45.5em) {
        grid-column: 1 / 2;
        grid-row: 3 / span 7;
      }

      @media screen and (max-width: 26.4em) {
        grid-row: 1 / span 7;
        margin-top: 1rem;
      }
    }

    &--item-3 {
      background-color: var(--dark-shade);
      grid-row: 9 / -1;
      border-radius: 0;
      box-shadow: none;
      background-image: url("./imgs/Clarence-background.png");
      background-size: 100%;

      @media screen and (max-width: 45.5em) {
        grid-column: 1 / 2;
        grid-row: 10 / span 4;
        background-size: cover;
      }
      @media screen and (max-width: 26.4em) {
        display: none;
      }
    }

    &--item-4 {
      background-color: mintcream;
      grid-row: 1 / span 4;
      margin-top: 1rem;

      @media screen and (max-width: 26.4em) {
        grid-column: 1 / -1;
        grid-row: 8 / span 3;
        margin-top: 0;
      }
    }

    &--item-5 {
      grid-row: 5 / -1;

      @media screen and (max-width: 45.5em) {
        grid-row: 5 / span 7;
      }
      @media screen and (max-width: 26.4em) {
        grid-column: 1 / -1;
        grid-row: 11 / span 7;
      }
    }

    &--item-6 {
      grid-row: 1 / span 6;
      @media screen and (max-width: 45.5em) {
        grid-column: 1 / 2;
        grid-row: 14 / span 8;
      }

      @media screen and (max-width: 26.4em) {
        grid-column: 1 / -1;
        grid-row: 21 / span 7;
      }
    }

    &--item-7 {
      background-color: mintcream;
      grid-row: 7 / -1;
      margin-bottom: 1rem;

      @media screen and (max-width: 45.5em) {
        grid-column: 2 / 3;
        grid-row: 12 / span 4;
      }

      @media screen and (max-width: 26.4em) {
        grid-column: 1 / -1;
        grid-row: 18 / span 3;
      }
    }

    &--item-8 {
      background-color: var(--dark-shade);
      grid-row: 1 / span 3;
      border-radius: 0;
      box-shadow: none;
      background-image: url("./imgs/Clarence-background.png");
      background-size: 107%;

      @media screen and (max-width: 26.4em) {
        display: none;
      }
      @media screen and (max-width: 45.5em) {
        grid-column: 1 / 2;
        grid-row: 22 / span 4;
        background-size: cover;
      }
    }

    &--item-9 {
      background-color: mintcream;
      grid-row: 4 / span 4;

      @media screen and (max-width: 45.5em) {
        grid-column: 2 / 3;
        grid-row: 20 / span 4;
        background-size: cover;
      }

      @media screen and (max-width: 26.4em) {
        grid-column: 1 / -1;
        grid-row: 28 / span 3;
      }
    }

    &--item-10 {
      background-color: var(--dark-shade);
      grid-row: 8 / -1;
      border-radius: 0;
      box-shadow: none;
      background-image: url("./imgs/Clarence-background.png");
      background-size: 107%;

      @media screen and (max-width: 26.4em) {
        display: none;
      }

      @media screen and (max-width: 45.5em) {
        grid-column: 2 / 3;
        grid-row: 16 / span 4;
        background-size: cover;
      }

      @media screen and (max-width: 26.4em) {
        grid-column: 1 / -1;
      }
    }

    &--item-11 {
      background-color: mintcream;
      grid-row: 2 / span 3;

      @media screen and (max-width: 45.5em) {
        grid-column: 1 / 2;
        grid-row: 26 / span 5;
        margin-bottom: 1.5rem;
      }

      @media screen and (max-width: 26.4em) {
        grid-column: 1 / -1;
        grid-row: 38 / span 3;
      }
    }

    &--item-12 {
      background-color: mintcream;
      grid-row: 5 / -1;
      @media screen and (max-width: 45.5em) {
        grid-column: 2 / 3;
        grid-row: 24 / span 7;
        background-size: cover;
        margin-bottom: 1rem;
      }

      @media screen and (max-width: 26.4em) {
        grid-column: 1 / -1;
        grid-row: 31 / span 7;
      }
    }

    &--item-13 {
      background-color: var(--dark-shade);
      border-radius: 0;
      box-shadow: none;
      background-image: url("./imgs/Clarence-background.png");
      background-size: 50%;

      @media screen and (max-width: 26.4em) {
        display: none;
      }
      @media screen and (max-width: 45.5em) {
        display: none;
      }
    }
  }
}
