.location {
  margin-top: var(--section-margin-top);
  grid-column: full-start / full-end;
  min-height: 77vh;

@media screen and (max-width: 44.5em) {
  max-width: 70rem;
}

@media screen and (max-width: 41.5em) {
  max-width: 66rem;
}

@media screen and (max-width: 37.5em) {
  max-width: 60rem;
  max-height: 50vh;
}

@media screen and (max-width: 28.5em) {
  max-width: 45rem;
}

@media screen and (max-width: 24.2em) {
  max-width: 38.6rem;
}

@media screen and (max-width: 20.1em) {
  max-width: 32.2rem;
}

@media screen and (max-width: 19.2em) {
  max-width: 30.5rem;
}


  &__map {
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    width: 100%;
    height: 100%;

  }

}

#map {
  width: 100%;
  height: 100%;
}

.custome-popup .leaflet-popup-content-wrapper {
  background-color:  var(--calm-blue-10);  
}

.leaflet-popup-content-wrapper .leaflet-popup-content {
  font-size: 1.5rem;
  text-align: center;
  color: white;
}

.custome-popup .leaflet-popup-tip {
  background-color:  var(--calm-blue-10);  

}