.reservation-popup {
  position: fixed;
  width: 40%;
  height: 95%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--warm-brown-light);
  background-image: url("./imgs/Clarence-background.png");
  background-size: cover;
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
  z-index: 10000;

  
  @media screen and (max-width: 58.25em) {
    width: 50%;
  }

  @media screen and (max-width: 29em) {
        width: 70%;
  }

  &__heading {
    font-size: 3.2rem;
    font-weight: 600;
    margin-top: 2.3rem;
    margin-bottom: 1.5rem;

    align-self: center;
    margin-left: 3rem;

    @media screen and (max-width: 58.25em) {
      font-size: 3rem;
    }

    @media screen and (max-width: 44.4em) {
      font-size: 2.4rem;
    }

    @media screen and (max-width: 38.75em) {
      font-size: 2.4rem;
      margin-left: 1.2rem;
    }
    @media screen and (max-width: 33.75em) {
      font-size: 2rem;
      margin-left: 0;
    }

    @media screen and (max-width: 21em) {
      font-size: 1.7rem;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    margin: 0 auto;

    @media screen and (max-width: 19em) {
      margin-left: 2rem;
    }

    label {
      display: block;
      font-size: 1.6rem;
      font-weight: 500;
      margin-bottom: 0.5rem;
      margin-left: 0.8rem;

    }

    input {
      width: 110%;
      font-family: inherit;
      color: inherit;
      font-weight: 700;
      border: none;
      border-radius: 2rem;
      box-shadow: 0.1rem 0.2rem rgba(0, 0, 0, 0.1);
      padding: 1.2rem;

      @media screen and (max-width: 38.75em) {
        width: 100%;
      }

      @media screen and (max-width: 19em) {
        width: 90%;
      }

      &::placeholder {
        color: #aaa;
      }

      &:focus {
        outline: 0.3rem solid var(--warm-brown-dark);
      }
    }
  }

  &__note {
    justify-self: end;
    margin-top: 2.6rem;
    margin-left: 3rem;
    font-size: 1.2rem;

    @media screen and (max-width: 38.75em) {
      font-size: 1rem;
      margin-left: 2rem;
    }

    @media screen and (max-width: 33.75em) {
      margin-top: 3rem;
    }

    @media screen and (max-width: 30.5em) {
      margin-left: 1rem;
    }

    @media screen and (max-width: 21em) {
      font-size: 0.9rem;
      font-weight: 600;
    }
  }
}

.form-btn {
  font-family: var(--main-family);
  font-weight: 500;
  color: white;
  font-size: 1.8rem;
  padding: 1.2rem 2.8rem;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  width: 112%;

  cursor: pointer;

  @media screen and (max-width: 38.75em) {
    width: 100%;
  }

  @media screen and (max-width: 19em) {
    width: 90%;
  }

}

.popup-flex-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  /*
  I added this container because when I wrote these lines in the
  .reservation-popup they conflict with the .display-none class 
  and never be hidden when the user click on the closeBtn
  */
}

.close-popup {
  position: absolute;
  top: 1rem;
  right: 2rem;
  font-size: 4rem;
  font-family: inherit;
  color: inherit;
  cursor: pointer;
  border: none;
  background: none;
}

.shaking {
  animation-name: horizontal-shaking;
  animation-duration: 0.3s;
  animation-timing-function: ease;
}

@keyframes horizontal-shaking {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(5px);
  }
  50% {
    transform: translateX(-5px);
  }
  75% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}
