#header-to-about {
  position: absolute;
  bottom: -170%;
  left: 69%;
  transform: translate(-50%, -50%);
  width: 122%;
  height: 124%;
  stroke: var(--warm-brown-dark);
  stroke-width: 2rem;
  // stroke-opacity: 0.52549;
  z-index: -1;

  @media screen and (max-width: 72.4em) {
    /* 1161 / 16 */
    left: 70%;
    width: 100%;
    height: 123%;
  }

  @media screen and (max-width: 66.25em) {
    bottom: -165%;
  }

  @media screen and (max-width: 60.85em) {
    bottom: -210%;
    left: 68%;
    height: 170%;
  }

  @media screen and (max-width: 56.85em) {
    height: 162%;
    bottom: -206%;
    left: 71%;
  }

  @media screen and (max-width: 54.63em) {
    width: 110%;
    bottom: -205%;
    left: 70%;
  }

  @media screen and (max-width: 50em) {
    width: 114%;
    height: 176%;
    bottom: -219%;
  }

  @media screen and (max-width: 49.2em) {
    /*787 / 16*/
    height: 171%;
    bottom: -214%;
    left: 71%;
  }
  @media screen and (max-width: 48em) {
    /*768 / 16*/
    height: 176%;
  }

  @media screen and (max-width: 47.9em) {
    /*765 / 16*/
    height: 186%;
    bottom: -228%;
  }

  @media screen and (max-width: 47.1em) {
    /*765 / 16*/
    height: 200%;
    bottom: -241%;
  }

  @media screen and (max-width: 45.38em) {
    width: 128%;
    height: 216%;
    bottom: -260%;
    left: 66%;
  }

  @media screen and (max-width: 43.5em) {
    height: 242%;
    bottom: -282%;
    left: 63%;
  }

  @media screen and (max-width: 40.25em) {
    height: 214%;
    bottom: -253%;
  }

  @media screen and (max-width: 40em) {
    height: 224%;
    bottom: -258%;
  }

  @media screen and (max-width: 38.38em) {
    height: 247%;
    bottom: -277%;
  }

  @media screen and (max-width: 37.12em) {
    bottom: -276%;
  }

  @media screen and (max-width: 36em) {
    bottom: -274%;
  }

  @media screen and (max-width: 34.76em) {
    bottom: -273%;
    left: 72%;
  }

  @media screen and (max-width: 33.25em) {
    bottom: -272%;
  }

  @media screen and (max-width: 29.75em) {
    bottom: -271%;
    left: 64%;
  }

  @media screen and (max-width: 27.5em) {
    bottom: -270%;
    left: 56%;
  }

  @media screen and (max-width: 27em) {
    height: 258%;
    bottom: -281%;
  }

  @media screen and (max-width: 25.75em) {
    left: 60%;
  }

  @media screen and (max-width: 24.4em) {
    bottom: -276%;
    left: 55%;
  }

  @media screen and (max-width: 22.5em) {
    left: 47%;
  }

  @media screen and (max-width: 20.25em) {
    bottom: -278%;
    left: 44%;
  }
}
